@model IEnumerable<fiQuiz.Models.Question>

@{
    ViewData["Title"] = "Sorular";
}

<h1>Sorular</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Yeni Oluştur</a>
    <a asp-action="CreateWithAnswers" asp-route-answerCount="4" class="btn btn-success">Hızlı Oluştur</a>
</p>
<div class="table-responsive">
    <table class="table table-last-small-column">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.QuestionText)
                </th>
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.ApprovalStatus)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionText)
                </td>
                <td class="text-nowrap">
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td class="text-nowrap">
                    @Html.DisplayFor(modelItem => item.ApprovalStatus)
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="İşlemler">
                        <partial name="_TrackDetails" model="@item" />
                        <a asp-controller="QuestionAnswers" asp-action="Index" asp-route-questionId="@item.Id" class="btn btn-primary">Cevaplar</a>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Düzenle</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Sil</a>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<partial name="_Pagination" />
